body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

#sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 ширина - изменить это с помощью JavaScript */
  position: fixed; /* Оставайтесь на месте */
  z-index: 1; /* Оставайтесь сверху */
  top: 0; /* Оставайтесь наверху */
  right: 0;
  background-color: #eee; /* Фон черный*/
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Поместите контент в 60px сверху */
  transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
}

#sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

#sidebar .closeSidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.container {
  margin: 0 15px;
}

.openSidebar {
  font-weight: 700;
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  right: 25px;
  top: 15px;
  padding: 15px;
  border-radius: 50%;
  background: rgb(64, 199, 129);
  transition: 0.2s;
}

.openSidebar:hover {
  background: rgb(53, 167, 110);
}

.openSidebar:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.invalidJson {
  color: red;
}

.error {
  border: 2px solid red;
}
